body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#title .container-fluid {
    text-align: left;
    padding: 3% 10% 7%;
}
.container-fluid{
    padding: 7% 15%;
}

p {
    color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.medium-heading {
    font-size: 3rem;
    line-height: 1.5;
}
.colored-section{
    background-color: #e47a30;
    color: white;
}
.white-section{
    background-color: white;
}
#features {
    position: relative;
}

#features i {
    color: #d99566;
    font-size: 4rem;
}

#features i:hover {
    color: #e67913;
}

#features h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Navigation Bar */

.navbar {
    margin-bottom: 40px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

.coffee-pic {
    width: 40%;
    /* transform: rotate(25deg); */
    position: absolute;
    right: 5%;
    /* margin-bottom: 10%; */
}

/* Testimonials*/
#testimonials {
    background-color: #d99566;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 30px 20px;
}

#press {
    background-color: #d99566;
}
#press .container-fluid{
    padding: 0 15% 3%;
}

.press-logos {
    width: 15%;
    margin: 0 20px 0 20px;
}

#pricing {
    padding: 100px;
}

.card-col {
    padding: 3% 2%;
}

/* Footer */
#cta {
    padding: 3% 15%;
}

#footer {
    padding: 3% 3%;
    text-align: center;
}

.icon {
    margin: 0% 10px;
}

/* Responsiveness */
@media (max-width:1028px) {
    #title {
        text-align: center;
    }

    .phone-pic {
        width: 70%;
        position: static;
        transform: rotate(0);
    }
}